

  <section class="menu_01" class="rounded">
      <div class="container shadow-none   rounded">
                    <div class="row ">
                      <div class="col-md-4" class="button_main">
                        <button type="button" class="btn-lg btn-primary" style="width: 191px;
                        font-stretch: semi-expanded;
                        font-weight: bold;
                        margin-top: 60px;
                        box-shadow: 0 0 45px -3px #4a1212c7;">Email</button> 
                    </div> 
                    <div class="col-md-4" class="button_main">
                      <button type="button" class="btn-lg btn-primary" style="width: 191px;
                      font-stretch: semi-expanded;
                      font-weight: bold;
                      margin-top: 60px;
                      box-shadow: 0 0 45px -3px #4a1212c7;">Email</button> 
                      
                    </div> 
                    <div class="col-md-4" class="button_main">
                      <button type="button" class="btn-lg btn-primary" style="width: 191px;
                      font-stretch: semi-expanded;
                      font-weight: bold;
                      margin-top: 60px;
                      box-shadow: 0 0 45px -3px #4a1212c7;">Email</button> 
                      
                    </div>            
      </div>
  </section>
            

                <section class="are001"> 
                        <div class="container">
                           <div class="row">
                             <div class="col-md-12">
                                
                                     <p> Type of the models </p>
                                                 <img src="img/design.png"> 
                            </div>
                             </div>
                        </div>
 
                </section>
               
                 <section class="firsr01" >
                  <div class="container ">
                    <div class="row ">
                <div class="col-md-4 ">

                  <div class="card" >
  <img class="card-img-top" src="img/Christmas-bannner-01.jpg" alt="Card image cap">
  <div class="card-body" style="    background-color: #8873985c;
  box-shadow: -7px -3px 18px 12px #9cb5c161;">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary">Email</button>
  </div>
</div>
                </div>

                 <div class="col-md-4">

                  <div class="card" >
  <img class="card-img-top" src="img/Christmas-bannner-01.jpg" alt="Card image cap">
  <div class="card-body"style="    background-color: #8873985c;
  box-shadow: -7px -3px 18px 12px #9cb5c161;">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary">MESSAGE</button>
  </div>
</div>
                </div>

                 <div class="col-md-4 " >

                  <div class="card" ">
    <img class="card-img-top" src="img/Christmas-bannner-01.jpg" alt="Card image cap">
  <div class="card-body"style="    background-color: #8873985c;
  box-shadow: -7px -3px 18px 12px #9cb5c161;">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>
                </div>
                    </div>
            </div>
                   
                 </section>
