
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  /* height: %; */
}
form{
   text-align: center;
   background-color:#981aa0db;
   margin: 24px 0px 0px 0px;     
}


.are001 {
   text-align: center;
font-size: 23px;
color: #F0514D;
margin: 11px 8px 13px 6px auto;
margin-top: 27px;
margin-bottom: 25px;
font-weight: bold;
font-family: 'Lobster', cursive;
}
.menu_01
{
margin: 50px 0px 0px 0px;
    text-align: center;
    background-color: #855986a1;
    width: 100%;
    height: 200px;
    border-style: hidden;
    border-radius: 98px;
    border-color: blanchedalmond;
    box-shadow: inset 0 0 18px 8px #4a1212c7;
}
.button_main
{
   margin: 0px;
   width: 50px;
}
.card{
   box-shadow: 10px -7px 11px 7px #754b4bc7;
}

/* text area for the email */
.shadow-textarea textarea.form-control::placeholder {
   font-weight: 300;
}
.shadow-textarea textarea.form-control {
   padding-left: 0.8rem;
}
.e-mail_area{
   width: 300px;
   height: 150px;
 }